[workspace]
members = [
    "steps"
]
resolver = "2"

[workspace.dependencies]
csv = "1.3"
serde = { version = "1.0", features = [ "derive" ] }

[workspace.lints.clippy]
unused_async = "deny"
rust_2018_idioms = "deny"
missing_docs = "deny"
missing_debug_implementations = "deny" # opt out where Debug is really redundant
future_incompatible = "deny"
unsafe-code = "deny"
